
div{
    background-color: black;
    
}

img{
    color: black;
    background-color: black;
}


nav .imagen{
    background-color: black ;
}


.lista{
    list-style-type: none;
    margin-right: 1rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    white-space: nowrap;
    font-size: 12px; 
}

section{
    background-image: url(img/01.jpeg);
    height: 500px;
    margin: 90%;
}

